/* Estilos Generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Cabecera */
  .cabecera {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cabecera img {
    max-height: 50px;
  }
  
  .cabecera nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .cabecera nav ul li {
    margin-left: 20px;
  }
  
  /* Sección de Anuncios */
  .slider {
    overflow: hidden;
    position: relative;
  }
  
  .anuncio {
    display: none; /* Oculto por defecto, mostrado por JS */
    min-height: 300px;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    position: relative;
  }
  
  .anuncio h2 {
    margin: 0;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
  }
  
  .anuncio p {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  
  .boton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .item-imagen {
    height: 100px;
    width: auto;
  }

  /* Sobre Nosotros */
  #sobre-nosotros {
    padding: 200px;
    background-color: #f0f0f0;
    height: 100vh;
  }
  
  #sobre-nosotros h2, #sobre-nosotros h3 {
    color: #333;
  }
  
  #sobre-nosotros .contenido {
    display: flex;
    flex-direction: column;
  }
  
  #sobre-nosotros .mensaje-director {
    margin-top: 20px;
  }
  
  /* Calendario Escolar */
  #calendario-escolar {
    padding: 20px;
  }
  
  /* Galería de Imágenes */
  #galeria {
    padding: 20px;
  }
  
  #galeria h2 {
    margin-bottom: 20px;
  }
  
  #galeria .imagenes img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Pie de página */
  footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
  }
  